<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/beans_1_1.xsd"
       bean-discovery-mode="annotated">
    
        <interceptors>
            <!-- 定義した順番でインターセプターが実行されるため、順番を変更しないこと -->
            <class>com.hassoubeat.toymanager.interceptor.ExceptionInterceptor</class>
            <class>com.hassoubeat.toymanager.interceptor.LogInterceptor</class>
        </interceptors>
    
</beans>
